<!-- templates/project/blog_home.html -->
<!-- a template that will be used as the landing page for the project-->

{% extends 'project/base.html' %}

{% block content %}
<h1>Welcome to the Dance Blog</h1>

<!-- Navigation Bar -->
{% if user.is_authenticated %}
<div class="profile-picture">
    <a href="{{ profile_url }}">
        <img src="{{ profile_image }}" alt="Profile Picture">
    </a>
</div>
{% endif %}

<div>
    <!-- make sure only logged in users can see this stuff -->
    {% if user.is_authenticated %}
        <p>You are currently logged in as {{ user.username }}.</p>
        <a href="{% url 'logout' %}">Log Out</a> |
        <a href="{% url 'create_dancer_profile' %}">Register as Dancer</a> |
        <a href="{% url 'create_recruiter_profile' %}">Register as Choreographer</a>
        <a href="{% url 'graphs_page' %}" class="btn btn-primary">View Blog Statistics</a>

    {% else %}
        <a href="{% url 'login' %}">Log In</a> |
        <a href="{% url 'create_dancer_profile' %}">Register as Dancer</a> |
        <a href="{% url 'create_recruiter_profile' %}">Register as Choreographer</a>
        <a href="{% url 'graphs_page' %}" class="btn btn-primary">View Blog Statistics</a>

    {% endif %}
</div>
<hr>

<div>
    <li><a href="{% url 'create_dance_post' %}">Create Dance Post</a></li>
</div>

<!-- Videos and Music Section -->
<h2>Videos and Music</h2>
<div>
    {% for post in dance_posts %}
        <div>
            <h3>{{ post.description }}</h3>
            {% if post.video %}
                <video controls src="{{ post.video.url }}" width="320" height="240"></video>
            {% elif post.cut_music %}
                <audio controls src="{{ post.cut_music.url }}"></audio>
            {% endif %}
            <!-- only if they are logged in can they have the link to go to the list of profiles-->
            {% if user.is_authenticated %}
            <br>
                <a href="{% url 'profile_list' %}">Go to list of all profiles to find this person!</a>
            <br>
            {% endif %}
            <p>Posted by: {{ post.poster.username }}</p>
            <p>Posted on: {{ post.created_at }}</p>
        </div>
        <hr>
    {% empty %}
        <p>No video or music posts available.</p>
    {% endfor %}
</div>


<!-- Comment Board Posts Section -->
<div>
    <li><a href="{% url 'create_comment_post' %}">Create Comment Post</a></li>
</div>

<!-- three different types of posts, general posts where people can leave comments, job openings, and public classes -->
<h3>General Posts</h3>
<ul>
    {% for post in general_posts %}
        <li>
            <strong>{{ post.get_post_type_display }}</strong>: {{ post.content }}
            {% if user.is_authenticated %}
            <br>
                <a href="{% url 'profile_list' %}">Go to list of all profiles to find this person!</a>
            <br>
            {% endif %}
            <p>Posted by: {{ post.author.username }}</p>

            <!-- Display existing comments -->
            <h4>Comments:</h4>
            <ul>
                {% for comment in post.comments.all %}
                    <li>
                        <strong>{{ comment.author.username }}</strong>: {{ comment.content }}
                        <p><small>Posted on {{ comment.created_at }}</small></p>
                    </li>
                {% empty %}
                    <li>No comments yet.</li>
                {% endfor %}
            </ul>

            <!-- Comment form (visible only to logged-in users) -->
            {% if user.is_authenticated %}
                <form method="post">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    <button type="submit" class="btn btn-primary">Comment</button>
                </form>
            {% else %}
                <p><a href="{% url 'login' %}">Log in</a> to comment on this post.</p>
            {% endif %}
        </li>
    {% endfor %}
</ul>


<h2>Job Openings</h2>
<ul>
    {% for post in job_openings %}
        {% if user.is_authenticated %}
        <br>
            <a href="{% url 'profile_list' %}">Go to list of all profiles to find this person!</a>
        <br>
        {% endif %}
        <li>
            <strong>{{ post.author.username }}</strong>: {{ post.content }}
        </li>
    {% empty %}
        <li>No job openings available.</li>
    {% endfor %}
</ul>

<h2>Public Classes</h2>
<ul>
    {% for post in public_classes %}
        {% if user.is_authenticated %}
        <br>
            <a href="{% url 'profile_list' %}">Go to list of all profiles to find this person!</a>
        <br>
        {% endif %}
        <li>
            <strong>{{ post.author.username }}</strong>: {{ post.content }}
        </li>
    {% empty %}
        <li>No public classes available.</li>
    {% endfor %}
</ul>

{% if user.is_authenticated %}
    <a href="{% url 'profile_list' %}">View All Users</a> 
{% endif %}


{% endblock %}
