<!-- templates/project/create_dancer_profile_form.html -->
<!-- a template that extends base.html that is used to make a new dancer profile and user -->
 
{% extends 'project/base.html' %}

{% block content %}
<h2>Create Dancer Profile</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h3>User registration </h3>
    {{ user_form.as_p }}


    <h3>Profile Information </h3>
    {{ form.as_p }}

    <button type="submit">Create Profile</button>
</form>


{% endblock %}
