<!-- templates/project/create_dance_post.html -->
<!-- a template that will be used to make dance posts, either videos or cut music for the app-->


{% extends 'project/base.html' %}

{% block content %}
<h1>Create a Dance Post</h1>
<!-- notes to make sure users submit the correct material -->
<h2>All videos must be submitted in an MP4 format or other dancers and choreographers will not be able to see your beautiful post!</h2>
<h2>All audios must be submitted in an MP3 format as well!</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Create Post</button>
</form>
{% endblock %}
