<!-- blog/templates/blog/show_all.html -->
{% extends 'blog/base.html' %}

<h1>Show all articles </h1>

<!-- display a context variable called articles-->
<!-- {{articles}} -->


<main> class = "grid-container" 
    <!-- loop to display each article -->
     {% for a in articles %}
     <article>
        <!-- display the image URL stored in database-->
        <img src="{{a.image_url}}" alt="{{a.image_url}}">

        <div>
            <h2>{{a.title}}</h2>
            <h3>by {{a.author}} at {{a.published}}</h3>
        
            <p>
                {{a.text}}
            </p>
        </div>
    </article>

     {% endfor %}
</main>