<!-- templates/mini_fb/create_status_form.html -->
<!-- A template to create a new profile comment that extends base.html-->

{% extends 'mini_fb/base.html' %}

{% block content %}
<!-- allows users to make status messages on their profile, adding pictures too-->
    <h2>Post a Status Message</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <td><label for="files">Upload Image(s):</label></td>
        <input type="file" name="files" multiple>
        <button type="submit">Post Status</button>
    </form>
    <a href="{% url 'show_profile' profile.pk %}">Back to Profile</a>
{% endblock %}
