<!-- quotes/templates/quotes/about.html-->
{% extends 'quotes/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
    <h2>About</h2>
    <p>This website showcases quotes and images from Michaela DePrince. Michaela was born in Sierra Leone in the middle of the civil war. 
        Both of her parents passed away, her father by murder and her mother by fever and starvation. She was sent to an orphanage for having the 
        skin conidition of vitiligo, which was seen as a curse of the devil in Sierra Leone. She was soon adopted to the US where her new parents found 
        her passion for ballet. She continued to grow her dance career as one of the only black women in the professional ballet industry, inspiring all. 
        Michaela DePrince sadly passed away on September 10, 2024. 
    </p>
    <p>Created by Shelly Neerman for CS412.</p>
{% endblock %}
